---
const url = Astro.url.pathname
const songs = Object.keys(import.meta.glob('/songs/*.js'))
	.map((id) => id.replace('/songs/','').replace('.js', ''))
---
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width"/>
		<title>Jack's Strudels</title>
		<style is:global>
			body
			{
				background: #aaa;
				color: #111;
				font-family: "IBM Plex Mono", ui-monospace, Menlo, Consolas, monospace;
				font-size: 14px;
				line-height: 2;

				display: grid;
				grid-template-columns: auto auto;
				justify-content: start;
				gap: 20px;
				padding: 20px;
				margin: 0;
			}

			nav
			{
				width: 40ch;
				max-width: 50vw;
				z-index: 999;
				position: relative;

				& ol
				{
					margin: 0;
					padding: 0;
					list-style: none;
  					counter-reset: items;
				}

				& li
				{
					margin: 0;
					padding: 0;
					list-style: none;
					counter-increment: items;
				}

				& li:before
				{
					content: "00" counter(items);
					font-size: 11px;
				}

				& li:nth-child(n+10):before
				{
					content: "0" counter(items);
				}

				& li:nth-child(n+100):before
				{
					content: counter(items);
				}
			}

			pre
			{
				font-size: 11px;
				line-height: 1.4;
				padding: 20px 0;
			}

			button, a
			{
				font-family: "IBM Plex Mono", ui-monospace, Menlo, Consolas, monospace;
				font-size: 14px;
				line-height: 1.3;
				text-transform: uppercase;
				padding: 0 3px;

				background: repeating-conic-gradient(#111 0% 25%, transparent 0% 100%) 1px 0.5px / 2px 2px;
				color: #111;
				text-decoration: none;
				border: none;
				outline: none;
				cursor: pointer;
			}

			button:active,
			a:active
			{
				background: #111;
				color: #aaa;
			}

			button[aria-disabled=true],
			a[aria-disabled=true], button:focus
			{
				cursor: default;
				background: repeating-conic-gradient(transparent 0% 25%, #111 0% 100%) 1px 0.5px / 2px 2px;
				color: #aaa;
			}

			::selection
			{
				background: #111;
				color: #aaa;
			}
		</style>
	</head>
	<body>
		<nav>
			<ol>
				{songs.map((id) => (
					<li>
						<a href={`/strudels/edit/${id}`} aria-disabled={url.includes(id)}>
							{id.split('-').slice(3).join(' ').toUpperCase()}
						</a>
					</li>
				))}
			</ol>
		</nav>
		<slot/>
	</body>
</html>